<div class="container p-4">
  <div class="row pt-4 mb-3">
    <div class="col-md-6">
      <h4>
        Player Portal {{ data && data.length ? "(" + data.length + ")" : "" }}
      </h4>
    </div>
    <div class="col-md-6 text-end">
      <button class="btn btn-outline-success" (click)="openModal()">
        Add New
      </button>
    </div>
  </div>
  @if (data) { @if (data.length !== 0) {
  <div class="row">
    @for (item of data; track $index) {
    <div class="col-md-4 p-2">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div
              class="col-6 overflow-hidden text-nowrap text-truncate"
              style="font-weight: bold"
            >
              {{ item.name }}
            </div>
            <div class="col-6 text-end">
              {{ item.mobile }}
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- <p>{{ item.city }}</p> -->
          <div class="row">
            <div class="col-4">Accuracy:
               <div class="star-rating">
                @for (num of [1, 2, 3, 4, 5]; track $index) {
                <span class="star" style="pointer-events: none;">
                     <fa-icon [icon]="getStarIcon(num, item.accuracy)"></fa-icon>
                </span>

                }
              </div>
            </div>
            <div class="col-4">Pass: <div class="star-rating">
                @for (num of [1, 2, 3, 4, 5]; track $index) {
                <span class="star" style="pointer-events: none;">
                     <fa-icon [icon]="getStarIcon(num, item.pass)"></fa-icon>
                </span>

                }
              </div></div>
            <div class="col-4">Shot: <div class="star-rating">
                @for (num of [1, 2, 3, 4, 5]; track $index) {
                <span class="star" style="pointer-events: none;">
                     <fa-icon [icon]="getStarIcon(num, item.shot)"></fa-icon>
                </span>

                }
              </div>
            </div>
            </div>
            <div class="row mt-2">
              <div class="col-4">Pace: <div class="star-rating">
                @for (num of [1, 2, 3, 4, 5]; track $index) {
                <span class="star" style="pointer-events: none;">
                     <fa-icon [icon]="getStarIcon(num, item.pace)"></fa-icon>
                </span>

                }
              </div></div>
              <div class="col-4">Dribbling:<div class="star-rating">
                @for (num of [1, 2, 3, 4, 5]; track $index) {
                <span class="star" style="pointer-events: none;">
                     <fa-icon [icon]="getStarIcon(num, item.dribbling)"></fa-icon>
                </span>

                }
              </div></div>
              <div class="col-4">Attack: <div class="star-rating">
                @for (num of [1, 2, 3, 4, 5]; track $index) {
                <span class="star" style="pointer-events: none;">
                     <fa-icon [icon]="getStarIcon(num, item.attack)"></fa-icon>
                </span>

                }
              </div></div>
            </div>
            <div class="row mt-2">
              <div class="col-4">Defense: <div class="star-rating">
                @for (num of [1, 2, 3, 4, 5]; track $index) {
                <span class="star" style="pointer-events: none;">
                     <fa-icon [icon]="getStarIcon(num, item.defense)"></fa-icon>
                </span>

                }
              </div></div>
            </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6 p-2">
              <small> Overall Rating:<div class="star-rating">
                @for (num of [1, 2, 3, 4, 5]; track $index) {
                <span class="star" style="pointer-events: none;">
                     <fa-icon [icon]="getStarIcon(num, item.overall_grade)"></fa-icon>
                </span>
                }
                {{item.overall_grade}}

              </div>
            </small>
            <!-- @if (item.overall_grade >= 4.2) {
              <app-particle-animation></app-particle-animation>
            }   -->
            </div>
            <div class="col-6 text-end p-2">
              <button
                type="button"
                class="btn btn-sm btn-primary me-1"
                (click)="onEdit(item)"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-sm btn-danger"
                (click)="onDelete(item)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  } @else {
  <div class="row">
    <div class="col-12 p-4 text-center">
      <p>No Record Found. Create New Record</p>
    </div>
  </div>
  } } @if (showBuffer) {
  <div
    class="spinner-border text-dark"
    style="position: absolute; top: 50%; left: 50%"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
  }
</div>

<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Player</h4>
        <button
          type="button"
          class="btn-close"
          (click)="closeModel()"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <div class="modal-body">
        <form ngNativeValidate #form>
          <div class="row">
            <div class="col-6">
              <label for="">Name</label>
              <input
                type="text"
                [(ngModel)]="PlayerObj.name"
                name="name"
                placeholder="Enter Name"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-2">
              <label for="">Mobile</label>
              <input
                type="tel"
                [(ngModel)]="PlayerObj.mobile"
                name="mobile"
                placeholder="Enter Mobile"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="">Dribbling</label>
              <div class="star-rating">
                @for (_ of [1, 2, 3, 4, 5]; track $index) {
                <span
                  class="star"
                  (click)="rateStar('dribbling',$index)"
                  [class.active]="$index < PlayerObj.dribbling"
                >
                     <fa-icon [icon]="getStarIcon(_, PlayerObj.dribbling)"></fa-icon>
                </span>
                }
              </div>
            </div>
            <div class="col-4">
              <label for="">Shot</label>
              <div class="star-rating">
                @for (_ of [1, 2, 3, 4, 5]; track $index) {
                <span
                  class="star"
                  (click)="rateStar('shot',$index)"
                  [class.active]="$index < PlayerObj.shot"
                >
                <fa-icon [icon]="getStarIcon(_, PlayerObj.shot)"></fa-icon>

                </span>
                }
              </div>
            </div>
            <div class="col-4">
              <label for="">Pace</label>
              <div class="star-rating">
                @for (_ of [1, 2, 3, 4, 5]; track $index) {
                <span
                  class="star"
                  (click)="rateStar('pace',$index)"
                  [class.active]="$index < PlayerObj.pace"
                >
                <fa-icon [icon]="getStarIcon(_, PlayerObj.pace)"></fa-icon>
                </span>
                }
              </div>
            </div>
            <div class="col-4">
              <label for="">Pass</label>
              <div class="star-rating">
                @for (_ of [1, 2, 3, 4, 5]; track $index) {
                <span
                  class="star"
                  (click)="rateStar('pass',$index)"
                  [class.active]="$index < PlayerObj.pass"
                >
                <fa-icon [icon]="getStarIcon(_, PlayerObj.pass)"></fa-icon>
                </span>
                }
              </div>
            </div>
            <div class="col-4">
              <label for="">Accuracy</label>
              <div class="star-rating">
                @for (_ of [1, 2, 3, 4, 5]; track $index) {
                <span
                  class="star"
                  (click)="rateStar('accuracy',$index)"
                  [class.active]="$index < PlayerObj.accuracy"
                >
                <fa-icon [icon]="getStarIcon(_, PlayerObj.accuracy)"></fa-icon>
                </span>
                }
              </div>
            </div>
            <div class="col-4">
              <label for="">Attack</label>
              <div class="star-rating">
                @for (_ of [1, 2, 3, 4, 5]; track $index) {
                <span
                  class="star"
                  (click)="rateStar('attack',$index)"
                  [class.active]="$index < PlayerObj.attack"
                >
                <fa-icon [icon]="getStarIcon(_, PlayerObj.attack)"></fa-icon>
                </span>
                }
              </div>
            </div>
            <div class="col-4">
              <label for="">Defense</label>
              <div class="star-rating">
                @for (_ of [1, 2, 3, 4, 5]; track $index) {
                <span
                  class="star"
                  (click)="rateStar('defense',$index)"
                  [class.active]="$index <= PlayerObj.defense && $index + 0.5 > PlayerObj.defense"
                >
                <fa-icon [icon]="getStarIcon(_, PlayerObj.defense)"></fa-icon>
                </span>
                }
              </div>
            </div>
          </div>
        </form>
        @if (showBuffer) {
        <div
          class="spinner-border text-dark"
          style="position: absolute; top: 50%; left: 50%"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
        }
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModel()">
          Close
        </button>
        @if (PlayerObj._id == null) {
        <button
          type="button"
          class="btn btn-primary"
          (click)="form.checkValidity() ? savePlayer() : errorMessage()"
        >
          Save Player
        </button>
        } @else {<button
          type="button"
          class="btn btn-success"
          (click)="updatePlayer(PlayerObj)"
        >
          Update Player</button
        >}
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modelError" #modelError style="margin-top: 150px">
  <div class="modal-dialog text-center">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Message</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeError()"
        ></button>
      </div>
      <div class="modal-body">
        {{ Message }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closeError()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
